:root{
    --primary-background-color : #C2C5AA;
    --links-color: #936639;
    --primary-header-color: #333D29;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--primary-background-color);
}
header{
    text-align: center;
}
header h1{
    padding: 10px;
    font-size: 48px;
    color: var(--primary-header-color); 
}
.menu-container ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main{
    width: 100%;
    align-items: center;
}
.list-container{
    display: flex;
    justify-content: center;
    background-color: #A4AC86;
    padding: 48px;
}
.list-container ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
ul li{
    padding: 20px;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--links-color);
}
a:hover{
    text-decoration: underline;
}
.back-btn{
    padding: 20px;
    font-size: 24px;
}
.back-spn{
    position: absolute;
    top: 0;
    left: 0;
}